* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	background-color: #f5f5f5;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #000;
}

.text-warning {
	color: #ff5722;
}

.navbar {
	display: flex;
	position: sticky;
	top: 0;
	flex-direction: row;
	background-color: #37474f;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar h1 {
	margin: 5px;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
	font-weight: normal;
	font-size: 16px;
	line-height: 40px;
}

.nav-icons {
	list-style: none;
	margin: 0;
	padding-left: 0;
	flex: none;
}

.nav-icon {
	float: left;
	text-align: center;
}

.nav-icon--without-label {
	margin-top: 8px;
}

.nav-icon > a,
.nav-icon > span {
	margin: 5px;
	display: block;
}

.nav-icon .material-icons {
	color: #fff;
}

.nav-icon-label {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 12px;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #ddd;
}

footer a {
	border-radius: 3px;
	background-color: #2196F3;
	color: #fff;
	display: block;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.event {
	display: block;
	background-color: #fff;
	margin: 10px;
	padding: 15px 10px;
	box-shadow: 0 0 5px #ddd;
}

.event-type {
	font-size: 10px;
	text-transform: uppercase;
	background-color: #f5f5f5;
	color: #999;
	padding: 2px 5px;
	border-radius: 3px;
	float: right;
}

.event-society-name {
	color: #999999;
}

.event-title {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.event-details {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.event-detail {
	margin: 0;
}

.event-detail .material-icons {
	color: #999;
	font-size: 14px;
	vertical-align: -2px;
}

.event-detail time {
	color: #999;
	font-size: 12px;
	margin-left: 5px;
}

.event-header {
	padding: 10px;
	margin-top: 10px;
}

.event-detail-screen .event-details {
	border-top: 1px solid #ddd;
	background-color: #fff;
}

.event-description {
	padding: 10px;
	border-top: 1px solid #ddd;
}

.event-detail-screen .event-detail {
	line-height: 25px;
	padding: 10px;
}

.profile-details {
	padding-left: 0;
	margin: 0;
	list-style: none;
	border-top: 1px solid #ddd;
	background-color: #fff;
}

.profile-detail {
	display: block;
	margin: 0;
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}

.profile-title {
	font-size: 16px;
	margin: 20px 10px;
}

.profile-detail-label {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}

body.login-screen {
	justify-content: center;
}

.login-form {
	margin: 10px;
	background-color: #fff;
	padding: 0 10px;
	box-shadow: 0 0 5px #ddd;
}

.form-field {
	margin-top: 20px;
}

.form-field label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.form-field-input {
	display: block;
	width: 100%;
	padding: 7px 12px;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.form-button {
	color: #fff;
	margin-top: 20px;
	padding: 7px 12px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

.form-button--primary {
	background-color: #2196F3;
	border-color: #2197F3;
}

.form-button--full-width {
	display: block;
	width: 100%;
}

.forgotten-password-link {
	display: block;
	font-size: 14px;
	text-align: right;
	color: #999;
	margin: 5px 0 20px 0;
}

.sign-up-link {
	display: block;
	font-size: 14px;
	text-align: center;
	color: #999;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 7px 12px;
}

.filter-dialog {
	width: 80%;
	padding: 20px 10px;
	box-shadow: 0 0 5px #999;
	border: 0;
	border-radius: 3px;
}

.dialog-title {
	font-size: 14px;
}
